<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar"
     th:fragment="sidebar-public">
    <a class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" href="javascript:void(0)"
       onclick="w3_close()" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" th:href="@{/about}">About</a>
    <a class="w3-bar-item w3-button w3-hover-black" th:href="@{/charbrowse}">Browse Characters</a>
    <a class="w3-bar-item w3-button w3-hover-black" th:href="@{/partners}">Community Partners</a>
    <div sec:authorize="isAuthenticated()">
    <a class="w3-bar-item w3-button w3-hover-black" th:href="@{/user/add}">Add Character</a></div>
</nav>
</body>
</html>