<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{page_layout/layout-user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
            <form th:object="${user}" method="POST" enctype="utf8">
                <div>
                    <label>email</label>
                    <input type="email" th:field="*{email}"/>
                </div>
                <div>
                    <label>password</label>
                    <input type="password" th:field="*{password}"/>
                </div>
                <div>
                    <label>confirm</label>
                    <input type="password" th:field="*{matchingPassword}"/>
                </div>
                <button type="submit">submit</button>
            </form>
</div>
</body>
</html>